POSTHOG_API_KEY=key-goes-here

# Roo Code Cloud / Local Development
CLERK_BASE_URL=https://epic-chamois-85.clerk.accounts.dev
SUPERROO_API_URL=http://localhost:3000
SUPERROO_PROVIDER_URL=http://localhost:8080/proxy/v1
